body {
  background-color: #eeeeee;
  background-image: url('regal.png');
}

#ch {
  height: 50px;
}

#containerp {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 35px;
  font-family: 'Belleza', sans-serif;
}

#upperline {
  height: 2px;
  color: #4aaaa5;
  background-color: #4aaaa5;
}

.navbar-name {
  font-family: 'Courgette', cursive;
  font-size: 35px;
  color: white;
  padding: 7px;
  margin-left: -10px;
  width: 225px;
  background-color: #53d2d6;
}

.navbar-nav {
  margin-left: 475px;
  font-family: 'Courgette', cursive;
  font-size: 18px;
}
/* about page */
#profile {
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
}

/* portfolio page */

#portfolioHeader{
  color:black;
  font-weight:500;
}

.card-body {
  background-color: #5bc7ca;
  color: #ffffff;
}

.card-text {
  text-align: center;
  font-family: 'Crimson Text', serif;
  font-size: 20px;
}
.abstract,
.travel,
.food,
.nature,
.music, .project, .liri, .bags, .bff{
  margin: 15px;
}

.row1 {
  padding-top: 25px;
}

html,body {
height:100%;
width:100%;
position:relative;
}

#background-carousel{
position: absolute;
width:100%;
height:100%;
z-index:-1;
}

.carousel,
.carousel-inner {
width:100%;
height:100%;
z-index:0;
overflow:hidden;
}

.carousel-item {
width:100%;
height:100%;
background-position:center center;
background-size:cover;
z-index:0;
}

#content-wrapper {
position:absolute;
z-index:1;
min-width:100%;
min-height:100%;
}

.project:hover .overlay{
  opacity: 1;
}

.abstract:hover .overlay{
  opacity: 1;
}

.travel:hover .overlay{
  opacity: 1;
}

.food:hover .overlay{
  opacity: 1;
}

.nature:hover .overlay{
  opacity: 1;
}

.music:hover .overlay{
  opacity: 1;
}

.liri:hover .overlay{
  opacity:1;
}

.bags:hover .overlay{
  opacity:1;
}

.bff:hover .overlay{
  opacity:1;
}

.overlay {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 30px;
  right: 0;
  height: 260px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color:lightcoral;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Contact page */

.containerf {
  margin: 25px;
}

.form-control {
  background-color: #f4f5f7de;
}

.row2 {
  background-color: #666666;
  text-align: center;
}

#lowerline {
  height: 5px;
  color: #4aaaa5;
  background-color: #4aaaa5;
  margin-top: 25px;
}

#link {
  color: white;
}



